@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

%licorice{
    font-family: "Licorice", cursive;
}

%inika{
    font-family: "Inika", serif;
}

%inter{
    font-family: "Inter", sans-serif;
}