@use '../../styles/placeholders' as *;
@use '../../styles/variables' as *;

.headerStyling {
background-image: url('../src/assets/hero.jpg');
background-position: 0;
background-repeat: no-repeat;

  h1 {
    font-size: 8vw;
    color: $white;
    @extend %licorice;
    text-align: center;
    padding: 8vw 0;
    margin: auto;
    font-weight: 100;
  }
}
