@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.navStyling {
  display: flex;
  background-color: $black;
  justify-content: right;
  position: relative;
  z-index: 999;

  .headingIcon {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 41.5%;
    width: fit-content;
    z-index: 5;
    li {
      font-size: 3vw;
      text-align: center;
      list-style: none;

      a {
        color: white;
        text-decoration: none;
        @extend %licorice;
      }
    }

    div {
      position: absolute;
      background-color: $black;
      padding: 0;
      border-radius: 50%;
      width: 17vw;
      height: 17vw;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1;
      top: -120%;

      img {
        width: 8vw;
        margin-top: 5vw;
      }
    }
  }

  .rightNav {
    display: flex;
    padding: 0;
    li {
      color: $white;
      list-style: none;
      padding: 0 1vw;

      svg {
        height: 3vw;
        width: 3vw;
      }
      a {
        color: $white;
      }
    }
  }

  select {
    border: 2px solid $white;
    background-color: $black;
    color: $white;
    @extend %inter;
    text-align: center;
    border-radius: 5px;
    width: 8vw;
    height: 2vw;
    margin-top: 0.5vw;
    margin-right: 1vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    font-size: 1vw;

    option {
      padding: 0;
      margin: 0;
      text-align: center;
    }
  }

  //MEDIA - Small desktop
  @media screen and (max-width: 1300px) {
    .headingIcon {
      right: 42%;
      li {
        font-size: 4vw;
      }

      div {
        top: -70%;
      }
    }
  }
  // MEDIA - Big tablet
  @media screen and (max-width: 1000px) {
    .headingIcon {
      right: 42%;
      li {
        font-size: 4vw;
      }

      div {
        top: -70%;
      }
    }

    .rightNav {
      li {
        svg {
          height: 4vw;
          width: 4vw;
        }
      }
    }

    select {
      width: 10vw;
      height: 3vw;
      font-size: 1.5vw;
    }
  }

  //MEDIA - small tablet
  @media screen and (max-width: 700px) {
    .headingIcon {
      right: 38%;
      li {
        font-size: 5vw;
      }

      div {
        top: -40%;
      }
    }

    .rightNav {
      li {
        svg {
          height: 5vw;
          width: 5vw;
        }
      }
    }

    select {
      width: 12vw;
      height: 4vw;
      font-size: 2vw;
    }
  }
  // MEDIA - phone
  @media screen and (max-width: 500px) {
    .headingIcon {
      right: 38%;
      li {
        font-size: 6vw;
      }

      div {
        top: -10%;
      }
    }

    .rightNav {
      li {
        svg {
          height: 6vw;
          width: 6vw;
        }
      }
    }

    select {
      width: 14vw;
      height: 5vw;
      font-size: 2.5vw;
    }
  }
}
